.celebration {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 2;

  background-color: rgba(255, 255, 255, 0.5);
}

.emoji {
  position: absolute;
  font-size: 7.5vw;

  z-index: 1;

  animation: fadeIn 250ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
